# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# MLflow
mlruns/
mlflow.db

# Airflow
services/airflow/logs/*
services/airflow/airflow.cfg
services/airflow/airflow.db
services/airflow/webserver_config.py

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Data
data/raw/*.csv
data/processed/*.csv